:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #507687;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.texto {
  max-width: 100%; /* Asegura que el texto no exceda el ancho del contenedor */
  overflow-wrap: break-word; /* Permite que las palabras largas se dividan para ajustar el contenido */
}

.container {
  width: 100%; /* Asegura que el contenedor principal ocupe todo el ancho */
}

.imagen {
  width: 100%;
  height: auto; /* Mantiene la relación de aspecto */
  border-radius: 5px;
}

.containerImg {
  max-width: 300px;
}

.centrar {
  text-align: center;
}

.listaDeLado {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 10px;
  justify-items: center; /* Centra los elementos en las celdas */
}



.num {
  color: #000000;
}
.product-image {
  width: 100%; /* La imagen ocupa todo el ancho del card */
  height: 300%; /* Mantener la relación de aspecto */
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */

}

.elemento {
  background-repeat: no-repeat;

  background-position: center center;

  background-size: cover;

  background-image: none;
}
.containerImg:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón */
  transform: translateY(-5px); /* Elevar ligeramente el contenedor */
}

.containerImg {
  flex: 1 1 calc(25% - 10px); /* Ajusta el ancho de las imágenes */
  margin: 5px; /* Margen entre los contenedores de imagen */
  text-align: center; /* Centrar el texto */
  background-color: #f9f9f9; /* Color de fondo claro */
  border: 1px solid #ddd; /* Borde ligero */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  transition: box-shadow 0.3s; /* Transición suave para el efecto de sombra */
}

.num {
  font-weight: bold; /* Hacer que el precio sea más destacado */
  color: #030303; /* Color rojo para el precio */
}
.texto {
  font-size: 1em; /* Tamaño de fuente */
  color: #333; /* Color del texto */
}

.imagen_marca {
  display: flex;
  justify-content: center;
}
.centrado {
  width: 50%; /* o el tamaño deseado */
  padding: 20px;
  background-color: lightblue; /* Solo para visualizar */
}