.main-contents {
  margin: 0 auto; /* Centrar el contenido */
  padding: 20px; /* Espaciado interno */
  background-color: #f9f9f9; /* Fondo claro */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px; /* Esto asegura que 1 rem = 16px */
  color: #333; /* Color general de texto */
  line-height: 1.6; /* Espaciado general entre líneas */
}

h1 {
  font-size: 2rem; /* 32px si 1 rem = 16px */
}


.img {
  max-width: 100%; /* Imagen responsiva */
  height: auto; /* Mantener la proporción */
  border-radius: 8px;
  margin-bottom: 20px; /* Espaciado inferior */
}

p {
  font-size: 1.2rem; /* Tamaño de texto */
  line-height: 1.5; /* Espaciado entre líneas */
  margin-bottom: 15px; /* Espaciado inferior */
  color: #555; /* Color del texto */
}

.loading,
.not-found {
  text-align: center; /* Centrar texto */
  font-size: 1.5rem; /* Tamaño de texto más grande */
  color: #999; /* Color gris */
}

.product-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten si no caben */
  gap: 20px; /* Añade espacio entre los elementos */
}

.product-imagenes, .product-info {
  width: 48%; /* Toma el 48% del ancho de su contenedor, dejando espacio para el gap */
}

@media (max-width: 768px) {
  .product-imagenes, .product-info {
    width: 100%; /* En pantallas pequeñas, cada bloque ocupa el 100% del ancho */
  }
}


.product-info h1 {
  font-size: 2.5rem; /* Tamaño del encabezado */
  margin-bottom: 20px; /* Espaciado inferior */
}

.product-info p {
  font-size: 2rem; /* Tamaño de los párrafos */
  line-height: 1.5; /* Espaciado entre líneas */
  margin-bottom: 15px; /* Espaciado inferior */
}

.product-info button {
  display: block; /* Asegura que el botón se apile debajo del texto */
  width: auto; /* Tamaño automático del botón */
  margin-top: 20px; /* Añade espacio encima del botón para separarlo del texto */
  padding: 10px 20px; /* Ajusta el padding del botón */
  font-size: 1rem; /* Tamaño de fuente moderado */
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Apunta al cursor para indicar que es un botón */
  transition: background-color 0.3s; /* Efecto suave de transición al pasar el mouse */
}

.product-info button:hover {
  background-color: #0056b3; /* Cambiar color de fondo cuando se pasa el mouse */
}
